<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Test nsert title here</title>
<link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.11/lib/theme-chalk/index.css">
<script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui@2.4.11/lib/index.js"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
</head>
<body>
	<div id="app">
	hello {{name}}
	</div>
</body>
<script>
new Vue({
    el: '#app',
    data: function() {
    	return {
    		name: "yinjihuan"
    	}
    }
})
</script>
</html>